.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#content {
  padding: 18px;
  border: 1px solid red;
}

.span1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 2px;
}

.span1:hover {
  cursor: pointer;
}

.active1 {
  border: 3px solid black;
}

.routeActive {
  background-color: white;
  color: red;
}

.routeActive a {
  color: red !important;
}

.mt-30 {
  margin-top: 30px;
}

.sort_selected::after {
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 0 10px;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}